#contact-section {
  width: 100%;
  min-height: 25vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

svg {
  padding: 24px;
}

// Mobile Exclusive
@media(max-width:768px) {
  #contact-section {
    min-height: 0vh;
  }
}
