<div id="about-section">
  <div class="container">
    <mat-card class="custom-card">
      <mat-card-header>
        <div mat-card-avatar class="custom-header-image"></div>
        <mat-card-title>Nicolas Frechette</mat-card-title>
        <mat-card-subtitle>{{ 'about.role' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://nicolasfrechette91.github.io/portfolio/assets/images/nico.jpg" [attr.alt]="'about.imageAlt' | translate">

      <mat-card-content>
        <p>{{ 'about.education.institution' | translate }} <br> {{ 'about.education.degree' | translate }}</p>
      </mat-card-content>
    </mat-card>

    <div class="custom-about">
      <h1 class="custom-hello">{{ 'about.greeting' | translate }}</h1>
      <p class="custom-sentence">{{ 'about.introduction.prefix' | translate }} <strong>{{ 'about.introduction.emphasis' | translate }}</strong>.</p>
      <p class="custom-sentence">{{ 'about.interests' | translate }}</p>
      <p class="custom-sentence">{{ 'about.communication' | translate }}</p>
    </div>
  </div>
</div>
