a {
  text-decoration: none;
  color:black;
  font-weight: bold;
  transition: all 100ms ease-in-out;
}

mat-toolbar {
  background-color: transparent;
}

li:hover {
  transform: rotate(15deg);
}

ul {
  list-style-type: none;
}

.header-button {
  background-color: unset !important;
  border: unset;
  font-family: 'Inter Variable';
  font-size: 24px;
  font-weight: 700;
}

.header-toolbar {
  background: linear-gradient(35deg, #ffd194, #70e1f5);
}

.logo {
  font-size: 36px;
}

.menu {
  align-items: center;
  display: flex;
  font-size: 24px;
  gap: 4px;
  justify-content: flex-end;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

// Mobile only
@media(max-width:560px) {
  li:hover {
    transform: rotate(0deg);
  }

  .ext-link {
    padding-right: 16px;
  }

  .logo {
    display: none;
  }

  .menu {
    padding-left: 0px;
    gap: 0px;
  }

  .nav-header {
    display: flex;
    justify-content: flex-end;
    align-items: initial;
    width: 100%;
    padding-left: 0px;
  }

  .profile-link {
    display: none;
  }

  .profile-link.ext-link {
    display: block;
  }
}
