<div id="skills-section">
  <h1 class="title">
    <span class="title-text">{{ 'skills.title' | translate }}</span>
  </h1>

  <div class="container-skills">
    @for (skill of skills; track skill) {
      <div class="container-skill">
        <div><img src={{skill.icon}} [attr.alt]="(skill.translationKey + '.name') | translate" /></div>
        <div class="skill-name">
          {{ (skill.translationKey + '.name') | translate }}
        </div>
        <div class="tech">
          <ul>
            @for (tool of ((skill.translationKey + '.technologies') | translate); track tool) {
              <li>{{tool}}</li>
            }
          </ul>
        </div>
      </div>
    }
  </div>
</div>
