#skills-section{
  width: 100%;
  min-height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

img {
  height: 150px;
  width: 150px;
}

li {
  text-align: left;
}

.container-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 4px;
  margin: 32px 24px 16px 24px;
}

.container-skill {
  display: grid;
  grid-template-rows: 150px 48px auto;
  justify-content: center;
}

.skill-name {
  margin: 16px;
  line-height: 24px;
  font-size: 24px;
  padding-left: 4px;
  text-align: left;
}

.tech {
  display: flex;
}

.title-text {
  background-position: top center;
}

@media(max-width:768px){
  img {
    max-width:100px;
    max-height:100px;
    margin:0;
  }

  .container-skills {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4px;
  }

  .container-skill {
    grid-template-rows: auto auto;
    margin: 0px;
  }

  .skill-name{
    margin: 0;
  }

  .tech {
    display: none;
  }
}
