<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content>
  <div class="content">
    <div class="content-video_container" *ngIf="data.video">
      <iframe class="content-video" [src]="data.video | safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="content-image" *ngIf="data.images">
      <img src={{data.images}}>
    </div>

    <div class="content-description-title"><strong>Description</strong></div>
    <div class="content-description">{{data.description}}</div>

    <div class="content-tasks-title"><strong>Tasks</strong></div>
    <div class="content-task">
      <ul class="content-tasks-list">
        <li *ngFor="let task of data.tasks">{{task}}</li>
      </ul>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
