<h2 mat-dialog-title>
  {{ (data.translationKey + '.title') | translate }}
</h2>

<mat-dialog-content>

  <div class="content-description-title"><strong>{{ 'dialog.description' | translate }}</strong></div>

  <div class="content-description">{{ (data.translationKey + '.description') | translate }}</div>
  <div class="content-tasks-title"><strong>{{ 'dialog.tasks' | translate }}</strong></div>
  <div class="content-task">
    <ul class="content-tasks-list">
      @for (task of ((data.translationKey + '.tasks') | translate); track task) {
        <li>{{task}}</li>
      }
    </ul>
  </div>

  @if (data.image) {
    <div class="content-image">
      <img src={{data.image}}>
    </div>
  }

  <div class="content w-100">
    @if (data.video) {
      <div class="content-video_container pt-4">
        <video #videoElement class="content-vi" controls>
          <source [src]="data.video" type="video/mp4">
        </video>
      </div>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'dialog.close' | translate }}</button>
</mat-dialog-actions>
