<h2 mat-dialog-title>
  @if (isFrench) {
    {{data.titleFrench}}
  }
  @if (!isFrench) {
    {{data.title}}
  }
</h2>

<mat-dialog-content>
  <div class="content">
    @if (data.video) {
      <div class="content-video_container">
        <iframe class="content-video" [src]="data.video | safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    }
    @if (data.images) {
      <div class="content-image">
        <img src={{data.images}}>
      </div>
    }

    <div class="content-description-title"><strong>Description</strong></div>

    @if (isFrench) {
      <div class="content-description">{{data.descriptionFrench}}</div>
    }
    @if (isFrench) {
      <div class="content-tasks-title"><strong>Tâches</strong></div>
    }
    @if (isFrench) {
      <div class="content-task">
        <ul class="content-tasks-list">
          @for (task of data.tasksFrench; track task) {
            <li>{{task}}</li>
          }
        </ul>
      </div>
    }

    @if (!isFrench) {
      <div class="content-description">{{data.description}}</div>
    }
    @if (!isFrench) {
      <div class="content-tasks-title"><strong>Tasks</strong></div>
    }
    @if (!isFrench) {
      <div class="content-task">
        <ul class="content-tasks-list">
          @for (task of data.tasks; track task) {
            <li>{{task}}</li>
          }
        </ul>
      </div>
    }

  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
