<div [ngClass]="(project.id%2==0)?'project-tile-reverse':'project-tile'">
  <div class="project-container">
    @if (isFrench) {
      <div class="project-name">{{project.nameFrench}}</div>
    }
    @if (isFrench) {
      <div class="project-description pt-1">{{project.descriptionFrench}}</div>
    }
    @if (isFrench) {
      <div class="project-languages-header">Langues</div>
    }
    @if (isFrench) {
      <div class="project-languages pt-1">{{project.languagesFrench}}</div>
    }

    @if (!isFrench) {
      <div class="project-name">{{project.name}}</div>
    }
    @if (!isFrench) {
      <div class="project-description pt-1">{{project.description}}</div>
    }
    @if (!isFrench) {
      <div class="project-languages-header">Languages</div>
    }
    @if (!isFrench) {
      <div class="project-languages pt-1">{{project.languages}}</div>
    }

    <div class="project-links pt-3">
      @if (project.dialog) {
        <div class="more-info-button">
          @if (isFrench) {
            <a mat-stroked-button color="accent" (click)="openDialog(project.dialog)">Plus d'informations</a>
          }
          @if (!isFrench) {
            <a mat-stroked-button color="accent" (click)="openDialog(project.dialog)">More info</a>
          }
        </div>
      }
      @if (project.link) {
        <div class="more-info-button">
          @if (isFrench) {
            <a mat-stroked-button color="accent" href={{project.linkFrench}} target="_blank" alt="Lien du Projet">Visite</a>
          }
          @if (!isFrench) {
            <a mat-stroked-button color="accent" href={{project.link}} target="_blank" alt="Project Link">Visit</a>
          }
        </div>
      }
      @if (project.github) {
        <div class="more-info-button">
          <a mat-stroked-button color="accent" href={{project.github}} target="_blank" alt="Github Link">Github</a>
        </div>
      }
    </div>
  </div>

  <div class="project-card">
    @if (isFrench) {
      <img src={{project.image}} alt="{{'Écran du '+ project.name}}">
    }
    @if (!isFrench) {
      <img src={{project.image}} alt="{{'Screen of '+ project.name}}">
    }
  </div>
</div>
