<div [ngClass]="(project.id%2==0)?'project-tile-reverse':'project-tile'">
  <div class="project-container">
    <div class="project-name">{{ (project.translationKey + '.name') | translate }}</div>
    <div class="project-description pt-1">{{ (project.translationKey + '.description') | translate }}</div>
    <div class="project-languages-header">{{ 'projects.languages' | translate }}</div>
    <div class="project-languages pt-1">{{ (project.translationKey + '.languages') | translate }}</div>

    <div class="project-links pt-3">
      @if (project.dialog) {
        <div class="more-info-button">
          <a mat-stroked-button color="accent" (click)="openDialog(project.dialog)">{{ 'projects.moreInfo' | translate }}</a>
        </div>
      }
      @if (project.link) {
        <div class="more-info-button">
          @if (isFrench) {
            <a mat-stroked-button color="accent" href={{project.linkFrench}} target="_blank" [attr.alt]="'projects.linkAlt' | translate">{{ 'projects.visit' | translate }}</a>
          }
          @if (!isFrench) {
            <a mat-stroked-button color="accent" href={{project.link}} target="_blank" [attr.alt]="'projects.linkAlt' | translate">{{ 'projects.visit' | translate }}</a>
          }
        </div>
      }
      @if (project.github) {
        <div class="more-info-button">
          <a mat-stroked-button color="accent" href={{project.github}} target="_blank" alt="Github Link">Github</a>
        </div>
      }
    </div>
  </div>

  <div class="project-card">
    <img
      src={{project.image}}
      [attr.alt]="'projects.imageAlt' | translate: { name: ((project.translationKey + '.name') | translate) }"
    >
  </div>
</div>
