@use '@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$pink-palette),
    accent: mat.define-palette(mat.$blue-grey-palette),
  ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette),
  ),
));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
 // Use the `-color` mixins to only apply color styles without reapplying the same
 // typography and density styles.
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
}

@font-face {
  font-family: 'Inter Static';
  font-weight: 400 600 700 800;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("https://nicolasfrechette91.github.io/portfolio/assets/fonts/Inter-Regular.woff2") format("woff2");
}

@supports (font-variation-settings: normal){
  @font-face {
    font-family: 'Inter Variable';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("https://nicolasfrechette91.github.io/portfolio/assets/fonts/Inter.var.woff2") format("woff2");
  }
}

// Element Styling
html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Inter Variable', sans-serif;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

a {
  transition: all 100ms ease-in-out;
}

button {
  background-color: #DB2838 !important;
  --mat-mdc-button-persistent-ripple-color: transparent !important;
}

mat-dialog-content {
  padding-top: 24px !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

svg:hover {
  fill:#ffd3c6;
  transform:rotate(15deg);
}

// Global Class Styling
.content {
  font-size: 16px !important;
}

.mat-mdc-dialog-actions {
  justify-content: end !important;
  padding-right: 24px !important;
  padding-bottom: 16px !important;
}

.mat-mdc-dialog-title {
  font-size: 32px !important;
  font-weight: bold !important;
  font-family: 'Inter Variable', sans-serif !important;
}

.more-info-button {
  border: 1px solid lightblue;
  margin-right: 16px;
}

.profile-link {
  padding: 8px;
}

.profile-link:hover{
  color:#ffd3c6;
}

.title {
  font-size: 3rem;
  line-height: 1.25rem;
  text-align: center;
}

.title-text {
  background-image: linear-gradient(transparent 30%, #FF1c0b 70%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
}

// Mobile Exclusive Adjustment
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    line-height: 1.25rem;
    text-align: center;
  }
}
