@use '@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$pink-palette),
    accent: mat.define-palette(mat.$blue-grey-palette),
  ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette),
  ),
));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
 // Use the `-color` mixins to only apply color styles without reapplying the same
 // typography and density styles.
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
}

// Element Styling
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  transition: all 100ms ease-in-out;
}

button {
  background-color: #DB2838 !important;
  --mat-mdc-button-persistent-ripple-color: transparent !important;
}

svg {
  padding:24px;
}

svg:hover {
  fill:#ffd3c6;
  transform:rotate(15deg);
}

// Global Class Styling
.mat-mdc-dialog-actions {
  justify-content: end !important;
  padding-right: 24px !important;
  padding-bottom: 16px !important;
}

.more-info-button {
  border: 1px solid lightblue;
  margin-right: 16px;
}

.profile-link{
  padding: 8px;
}

.title {
  font-size: 3rem;
  line-height: 1.25rem;
  text-align: center;
}

.title-text {
  background-image: linear-gradient(transparent 30%, #FF1c0b 70%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
}

// Mobile Exclusive Adjustment
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    line-height: 1.25rem;
    text-align: center;
  }
}
